@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap');


*{
	padding:0;margin:0;
}
img{
	width: 100%;
	height: auto;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
h1,h2,h3,h4,h5,p{
	
}
*, ::after, ::before {
    box-sizing: border-box;
}

/*Head-1*/
.header-area{
	font-family: 'Roboto', sans-serif;
}
.head-1{
	text-align: center;
	align-items: center;
	padding: 10px 0;
	color: #1393F4;
	font-family: 'Roboto', sans-serif;

}
.head-1 h4{
	font-size: 22px;
}

.head-2{
	padding: 20px 0;
	background-color: #dcdde1;

}
.head-2 h2{
	font-weight: 700;
	color:#1393F4;
}
.h-content{
	margin-top: 15px;
}
/*Head Button*/
.btns{
	margin-top: 15px;
}
button:nth-child(1){
	margin-left: 20px;
}
button:nth-child(2){
	background-color: red;
	padding: 8px 25px ;
	margin-top: 20px;
	border-style: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	animation-duration: 2s;
	 animation-iteration-count: infinite;
}
button:nth-child(2):hover{
	background-color: #44bd32;
}
.liveclass{
	
}

/*Ticker headline*/
.top-marque{
	
    background-color: #fff;
        padding: 5px 0px;

}
.top-marque span {
    color: #1393F4;
    font-weight: bold;
    font-size: 18px;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*MENU*/
.clgmenu{
	padding: 20px 0;
	background-color: #dcdde1;
}

.menu > ul{
	display: flex;
	margin: 0 auto; 
}
.menu ul li{
	list-style: none;
	position: relative;
}
.menu ul li a{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-decoration: none;
	color: #1393F4;
	padding: 0 10px ;
	display: block;
	font-weight: 700;
	cursor: pointer;
}
.menu ul li a:hover{
	background-color: #1393F4;
	color: #fff;
	font-size: 19px;

}
.menu ul ul{
	position: absolute;
	display: none;
	z-index: 99;
	white-space: nowrap;
}
.menu ul li:hover ul{
	display: block;
	background-color: #FFF;
	padding: 20px 0;
}
.menu ul li:hover ul li{
	border-bottom: 1px solid #777 ;
}
/*SLIDER*/
.wrapper{
	height: auto;
	width: 100%;
	overflow: hidden;

}
.item{
	
	height: 500px;
	font-family: 'Open Sans', sans-serif;

}
.item h2{
	color:#fff;
	padding: 30px 60px;
	font-weight: 700;
	font-family: 'Lemonada', cursive;
	font-size: 35px;
	
}
.i1{
	background-image: url(img/s1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.i2{
	background-image: url(img/s4.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.i3{
	background-image: url(img/s2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.owl-nav button{
	display: none;
}
/*ABOUt*/
.about-area{
	margin: 20px 50px;
	border: 1px solid #bdc3c7;
}
.abox{
	padding: 10px;
	
}
.card{
	text-align: center;
	margin: 20px;
}
.para{
	text-align: justify;
	margin-top: 15px;
}
.para h3{
	border-bottom: 2px solid  #bdc3c7;
	width: 45%;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 5px;
}
.para p{
	color: #7f8c8d;

}
.notice{
	border-left: 2px dotted #000;
	margin-top: 10px;
	text-align: justify;
	background-color: #dcdde1;
	
}
.notice ul {

}
.notice li a{
	color: #1393F4;
	font-family: 'Open Sans', sans-serif;
}
.notice li a:hover{
	color: #44bd32;
}
.notice h3{
	border-bottom: 2px solid  #bdc3c7;
	width: 35%;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 5px;
	font-weight: 700;
}
/*SERVICE AREA*/
.service-area{
	padding:  50px 0;
	background-color: #F7F7F7;
}
.sbox{
	height:230px;
	width: 250px;
	background-color: #fff;
	padding: 5px;
	margin-bottom: 30px;
	box-shadow: 1px 1px 1px 1px #95a5a6;
	border-radius: 0 20px 0;
	display: flex;

}
.sbox:hover{
	box-shadow: 5px 5px 2px 2px #bdc3c7;

}
.sbox:hover h4{
		color: #44bd32;
}
.round{
	text-align: center;
	align-items: center;
}
.round i:before{
	margin: 0;
	font-size: 75px;
	color:#1393F4;
}

.box-item{
	color:#1393F4;

}
.box-item h4{
	text-align: center;	
	font-family: 'Open Sans', sans-serif;


}

.box-item p{
	font-size: 13px;
	text-align: justify;
	font-family: 'Roboto', sans-serif;
	color: #bdc3c7;
}

/*HIstory*/
.history-area{
	padding: 50px 0;
}
.hitem{

}
.hitem span{
	color: #1393F4;
}
.hitem h2{
	width: 18%;
	padding-bottom: 5px;
	font-weight: 700;
	border-bottom: 5px solid #1393F4;

}
.hitem p{
	margin-top: 30px;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
}

/*footer-area*/
.footer-area{

	padding:30px 0;
	background-color: #dfe4ea;
}
.fitem1{}
.fitem1 h1{
	color: #1393F4;
	border-bottom:2px solid #1393F4;
	padding-bottom: 10px; 
	margin-bottom: 40px;
	font-weight: 700;
}
.fitem1 i{
	margin-top: 15px;
	font-size: 18px;
	color: #535c68;
}
.cont2{
	color: #535c68;
}
.cont2 h5{
	font-size:20px;
	margin: 20px 0;
	font-weight: 700;
}
.cont2 i{
	font-size: 30px;
	margin-left:5px;
}
.cont2 i:hover{
	color: #1393F4;
}

.foot2{
	background-color:#fff;
	padding: 15px 0;
	font-size: 16px;
	text-align: center;
}
/*SCROLL BUTTON*/
.top{
	background-color: #1393F4;
	position: fixed;
	right: 10px;
	bottom: 10px;
	padding: 5px 9px;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	border-radius: 5px;
	display: none;
}
.top:hover{
	background-color:#44bd32;
}



